

.status-block {
    width: 80%;
    height: 400px;
    margin: 100px 100px;
    display: flex;
    flex-direction: row;
    position: relative;
}

.content-area {
    width: 100vw;
    height: 100vh;
}

.voters-area {
    background-color: antiquewhite;
    height: 60%;
    position: relative;
    vertical-align: middle;
}

.result-area {
    height: 20%;
    background-color: aqua;
}

.result-area > table {
    margin: 0 auto;
}

.status-block > div {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}

.statustext-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* .status-block > div:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
} */

.rotate {
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.status-block > div {
    flex: 1;
    vertical-align: middle;
    text-align: center;

}

.todo {
    background-color: gray;
}

.inprogress {
    background-color: hotpink;
}

.done {
    background-color: greenyellow;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

:root {
    --shadow-color-from: #dfd7db;
    --shadow-color-to: #00b0e6;
}
  
@keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--shadow-color-from), 0 0 40px var(--shadow-color-from), 0 0 50px var(--shadow-color-from), 0 0 60px var(--shadow-color-from), 0 0 70px var(--shadow-color-from);
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px var(--shadow-color-to), 0 0 40px var(--shadow-color-to), 0 0 50px var(--shadow-color-to), 0 0 60px var(--shadow-color-to), 0 0 70px var(--shadow-color-to), 0 0 80px var(--shadow-color-to);
    }
}