// https://css-tricks.com/snippets/sass/placing-items-circle/ (15.11.2020)

@import "compass/css3";
@import "./digitalnumbers.scss";

/// Mixin to place items on a circle
/// @author Hugo Giraudel
/// @author Ana Tudor
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Integer} $first-row-count - Number of items on the first row of the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $first-row-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
      display: block;
    //   background-color: green;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: -($item-size / 2);

  
    //   @for $i from 1 through $item-count {
    //     &:nth-of-type(#{$i}) {
    //       transform: 
    //         rotate($rot * 1deg) 
    //         translate(-$circle-size / 2) 
    //         rotate($rot * -1deg);
    //     }
  
    //     $rot: $rot + $angle;
    //   }

        $items-on-this-row: 25;
        $angle: (180 / ($items-on-this-row - 1));
        $rot: 0;
        $item-index: 0;
        $distance-between-rows: 2;
        $row-number: 0;
        $column-number: 0;
        $max-items-on-column: 8;
        $column-distance: -($circle-size / 2);

        // @for $i from 1 through $item-count {
        //     &:nth-of-type(#{$i}) {
        //     transform: 
        //         rotate($rot * 1deg) 
        //         translate(-($circle-size / 2 + $row-number * $distance-between-rows)) 
        //         rotate($rot * -1deg);
        //     }
    
        //     $rot: $rot + $angle;
        //     $item-index: $item-index + 1;

        //     @if $rot > 180 {
        //         // jump to the next row
        //         $rot: 0;
        //         $item-index: 0;
        //         $row-number: $row-number + 1;
        //         $items-on-this-row: $items-on-this-row + 1;
        //         $angle: (180 / $items-on-this-row);
        //     }
        // }

        // @while $rot <= 180 {


        //     // jump to the next column
        //     $rot: 0;
        //     $item-index: 0;
        //     $row-number: $row-number + 1;
        //     $items-on-this-row: $items-on-this-row + 1;
        //     $angle: (180 / $items-on-this-row);
        // }

        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
            transform: 
                rotate($rot * 1deg) 
                translate($column-distance) 
                rotate($rot * -1deg);
            }

            // next item in the column (next row)
            //$rot: $rot + $angle;
            $item-index: $item-index + 1;
            $column-distance: $column-distance - $distance-between-rows;

            @if $item-index >= $max-items-on-column {
                // jump to the next column
                $rot: $rot + $angle;
                $item-index: 0;
                //$row-number: $row-number + 1;
                //$items-on-this-row: $items-on-this-row + 1;
                //$angle: (180 / $items-on-this-row);
                $column-distance: -($circle-size / 2);
            }
        }
    }
  }

  .circle-container {
    @include on-circle($item-count: 200, $first-row-count: 16, $circle-size: 20em, $item-size: 1.5em); 
    margin: 10em auto 0;
    // border: solid 5px tomato;
    position: relative;
    top: 60%;
    // left: 50%;
    //transform: translate(-50%,0%);

    
    img { 
      display: block; 
      max-width: 100%; 
      border-radius: 50%;
      filter: grayscale(100%);
      border: solid 5px tomato;
      transition: .15s;
      
      &:hover,
      &:active {
        filter: grayscale(0);
      }
    }
  }